{% extends '/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% block admin %}
<div class=" container">
    <h1>Administracion</h1>
    <a href="{{ path('app_admin') }}">INICIO</a>
    <a href="{{ path('users') }}">PERSONAS</a>
</div>

    {% endblock %}
{% endblock %}
