{% extends '/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class=" container">
    <h1>Administracion</h1>

    <div><h2>PERSONAS</h2></div>



</div>
{% endblock %}
