{% extends '/base.html.twig' %}

{% block title %}Hello FrontEndController!{% endblock %}

{% block body %}


    <div class="container">
        <h1>NUTRICION HOME</h1>

        <div><h2>Contenido de la home</h2></div>
    </div>
{% endblock %}
